
:root {
    --lightgray:  rgba(231, 229, 229, 0.888);
    --blue: blue;
    --black: rgb(31, 28, 28);
    --grassgreen: #7ee26e;
    --bg_today_match: #e4cd84;
}

.menubar
.main_container,
.main_container_lineup_coach,
.title_container, a  {
    display: flex;
} 

.title_container {
    height: 50px;
}

.top_standings {
    margin: 20px 0 auto;
}

.fixed_menubar {
    width: 100%;
   /* top: 13%; 
    left: 50%; */
    height: 44px; 
  /*  margin-top: -100px; 
    margin-left: -250px */
}

.menubar {
position: fixed;
width: 100%;
height: 2px;
}

#logo {
    margin-left: 50%;
}

#table_txt::after {
    content: "Toon stand";
} 

#prog_txt::after {
    content: "Toon programma";
} 

#agenda {
    width: 30px;
    height: 30px;
    margin-top: 25%;
}

.center_buttons {
    justify-content: center;
    display: flex;
}


.menubuttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
display: flex;
list-style-type: none;

}

ul li a {
/* background-color: var(--black); */
display: block;
padding: 10px;
color:white;
margin: 0 5px;
width: 150px;
text-align: center;
}


.main_container, 
.main_container_event
 {
    width: 600px;
    margin-bottom: 20px;
    margin: 50px auto 0px;
    flex-wrap: wrap;
    align-content: center;
}

.main_container {
    display: flex;
} 


.main_container_league_season_rounds {
    display: flex;
}

.container_league_logos {
   text-align: center;
   max-height: fit-content;
   overflow: auto;
   white-space: nowrap;
   background-color: var(--lightgray);
    width: 100%;
   /* background-image: url('./img/pitch.png');*/
}

.container_league_logos a {
    display: inline-block;
    text-decoration: none;
}

table {
    margin: auto;
    width: 600px;
}

tr:nth-child(odd) {
    background-color: rgb(229, 223, 223);
}

td {
    padding: 10px;
    text-align: center;
}


.container_big_logo_league {
    width: 25%;
}


#round_selection,
#round_selection>option {
 width: fit-content;
 color: rgb(136, 27, 27);
 margin-top: 30px;
}


#season_selection {
    width: fit-content;
}

button {
    background-color: black;
    color: white;
    margin: 5px;
}


#season_title,
.country_container,
.stscore_container, 
.score, .nomatches, a,
.event_container, 
.event_container,
.lineup_container, 
#start_sub_team, 
#play_min, 
label, td {
    font-family: Arial, Helvetica, sans-serif;
}

#season_title, 
label {
    font-size: 25px;
   
}

.btn_container {
     width: 80%;
    margin: 0 auto;
    text-align: center;
    /* margin: 2% 0 0 25%;*/
}

.block_class {
    display:  block;
}

label {
    font-style: italic;
}

form {
    display: inline-flex;
}

/*.btn_container a, */
#datepicker, select, option {
    background-color: white;
    color: var(--red);
    margin: 5px;
    padding: 3px;
    width: 90px;
    text-align: center;
    font-weight: bold;
    border: 0px;
}

.menu_sel_item {
 font-weight: bold;
 color: white;
 margin: 0 5px;
 width: 100px;
}

.menu_option {
    color:black;
}

#season_selection {
    width: fit-content;
}

.txt-underline {
    text-decoration: underline;
    text-transform: uppercase;
}

a {
   /* background-color: black; */
    color: black;
    padding: 20px 0px;
    font-size: medium;
    text-decoration: none;
    /* margin: 0 10px; */
}

.main_container_line {
    width: 70%;
    margin: 0 auto;
}

.main_container,
.main_container_event,
.main_container_lineup,
.main_container_lineup_coach,
#startteam,
 a {
    justify-content: center;
   /* margin: 25px auto;
    padding-bottom: 10px;
    */
}

#start_sub_team {
    text-align: center;
    font-weight: bold;
    margin: 5px;
}

.main_container_event,
.main_container,
.main_container a {
    background-color: var(--black);
}

.background_today_match {
    background-color: var(--bg_today_match);
}

.btn_lineup {
    background-color: rgb(247, 244, 244);
    width: 600px;
    margin: 0 auto;
    position: relative;
    height: 80px;
}

#show_hide {
    width: 600px;
    margin: 0 auto;
}

.main_container_event,
.main_container_lineup {
    padding: 5px;
    margin: 0 auto;
    position: relative;
}

.main_container_lineup_home, 
.main_container_lineup_away {
    display: inline-block;
    width: 50%;
}

.main_container_lineup_away {
    float: right;

}

.main_container_event div 
 {
    background-color: #eeeaea;
    margin: 3px 0px;
}

.country_container
 {
    width: 200px;
    text-align: center;
}

.flag_container, 
.flag_container img {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.white_color {
    color: white;
}

img {
    width: 150px;
    height: auto;
    margin: 0 auto 5%;
}

.league_icon {
    width: 60px;
    height: auto; 
    margin: 10px;
}

.league_icon:hover {
    cursor: pointer;
}

.img_coach {
    width: 80px;
    height: auto;
    
}

#type_pic {
    width: 20px;
    height: auto;
}

#play_min {
    color: red;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

#ref {
    width: 20%;
    height: auto;
    margin-top: 10px;
}

.stscore_container, 
.stscore_ref {
    margin-top: 3%;
    text-align: center;
    width: 200px;
   /* color:white; */
}

.stscore_ref {
    display: flex;
    justify-content: center;
}

.score {
        font-weight: 500;
        font-size: 30pt;
        padding-top: 5%;
        display: inline-flex;
        justify-content: center;

}

.score_home, 
.score_away {
    background-color: whitesmoke;
    font-size: 50px;
    margin: 10%;
}

.background_score_small_screens {
    padding: 5% 10%;
}


.pd_score {
 padding: 5% 10%;
}

.vs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.red {
    color: red;
}

.black_color {
    color: black;
}

.p_shootout {
font-weight: bold; 
font-size: 20px;
color: rgb(75, 230, 75);
}

.event_container, 
.event_container {
    padding: 5px;
    display: flex;
    line-height: 1.8;
}

.lineup_container {
    width: 50%;
    text-align: center;
}

.align-left {
    margin-left: 20%;
}

.align-right{
    margin-left: 50%;
}

.nomatches {
    padding-top: 5%;
    text-align: center;
    font-style: italic;
}

#show_hide_lineup, 
#show_league {
    margin-left: 3%;
    background-color: var(--blue);
    color: white;
    border: 0px;
    padding: 10px;
    position: absolute;
    top: 25%;
    }

.hide {
    visibility: hidden;
}

.logo_standings {
    width: 50px;
    height: auto;
}

@media (max-width: 1500px) {
.align-left {
    margin-left: 20%;
}
}

@media (max-width: 1300px) {
    .align-left {
        margin-left: 15%;
    }
    }

 
@media (max-width: 900px) {

  
    .flag_container img {
        width: 125px;
        height: auto;
    }

    .align-right {
        margin-left: 50%;
    }

    .align-left {
        margin-left: 5%;
    }
}

@media (max-width: 700px) {

     #show_hide_lineup {
        margin: 3% 0 0 5%;
    }

   /* .flag_container img {
        width: 70px;
    }
        */
}

@media (max-width: 600px) {

.container_league_logos, 
.title_container, 
.main_container,
.main_container_event,
.main_container_lineup,
table {
   width: 500px;
   margin: 10px auto;
}


.container_big_logo_league a {
    padding: 0px;
}

#logo {
    margin: auto;
}

.country_container {
    width: 150px;
}

#hidden_cell {
    display: none;
}

.main_container_league_season_rounds {
    display: block;
}

.container_big_logo_league {
    width: 50%;
    margin: auto;
}

#round_selection,
#round_selection>option {
margin-top: 20px;
}

/*
.fixed_menubar {
  width: 400px;
  left: 59%;
}
  */
}

@media (max-width: 550px) {

  .align-right {
    margin-left: 30%;
}

.main_container_league_season_rounds img {
    padding-top: 20px;
}

.btn_container {
    padding: 0px;
}
.country_container {
    width: 150px;
}
}

@media (max-width: 500px) {
    ul li a {
        width: 100px;
    }

    #table_txt::after {
    content: "Stand";
} 

#prog_txt::after {
    content: "Programma";
} 

table {
    width: 450px;
}
}

@media (max-width: 450px) {

  .main_container, 
  .main_container_event,
.main_container_lineup {
    width: 350px;
    height: 200px;
  }

    .country_container,
    .stscore_container {
    width: 60px;
    height: 130px;
    }

    .league_icon {
    width: 50px;
    margin: 5px;
   }

.btn_container {
   padding: 0;
   width: 50%;
   margin: auto;
}

#season_title {
    font-size: 15px;
}

table {
    width: 400px;
}

a  {
   margin: 0 5px;
   }

    .stscore_container {
        margin: 3%;
        width: 170px;
    }

     .align-right {
        margin-left: 25%;
 
     }

 .score_home, 
.score_away {
    /* background-color: #e4cd84; */
    margin: 0;
}

.background_score_small_screens {
    background-color: whitesmoke;
    padding: 5% 10%;
}

.pd_score {
 padding: 0 10%;
}

}
