
body {
    text-align: center;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

input {
  width: 200px;
}

input[type="radio"] {
  width: 1.5em;
}

.main_container_countries_teams {
  width: 100%;
  display: flex;
  margin: 30px 0px;
  }

.main_container_countries_teams div {
    padding: 2%;
  }

.container_team_A, 
.container_team_B {
      display: flex;
    flex-direction: column;
      width:50%;

}

#playerA, 
#playerB {
  display: flex;
  margin-left: 30px;
}

 #countryA, 
 #countryB {
  width: 150px;
 }

 .main_container_penalty {
 margin: 3% 0;
 align-items: baseline;
 }

.container_playerA, 
.container_playerB {
  display: flex;
  justify-content: center;
 }

 .lightblue_background {
  background-color: lightblue;
}

#playerA_name #flagA, 
#playerB_name #flagB {
  margin-top: 2.5%;
}

.right,
.left {
  height: 70px;
  width: 35px;
  margin: 0 0 0 -2px;
}

.redborder {
  border: red 1px solid;
}

.right {
  border-radius: 0 5rem 5rem 0;
  margin-left: 5px;
}

.left { 
  border-radius: 0 5rem 5rem 0;
  margin-right: 5px;

}

#flagA img, 
#flagB img {
  width: 150px;
  height: auto;
  border: 1px solid black;
  vertical-align: baseline;
}


@media (max-width: 550px) {

  h2 {
    font-size: 20px;
  }

  input {
    width: 100px;
  }

  .right, 
  .left {
    height: 50px;
    width: 25px;
  }

  #flagA img, 
  #flagB img {
    width: 30px;
    height: 25px;
  }
}

@media (max-width: 420px) {

  h2 {
    font-size: 15px;
  }

  .right, 
  .left {
    height: 30px;
    width: 15px;
  }

  #flagA img, 
  #flagB img {
    width: 20px;
    height: 16px;
  }
 }