
body {
    text-align: center;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

input {
  width: 200px;
}

input[type="radio"] {
  width: 1.5em;
}

.container_reload,
.container_countries_teams_startingteam {
  display: flex;
  flex-direction: column;
  background-color: #cdd1d0;
  width: 70%;
  margin: 0 auto;
  padding-bottom: 1%;
}

.container_reload {
  position: relative;
  align-items: flex-end;
  background-color: transparent;
  width: 95%;
}

.main_container_countries_teams {
  display: flex;
 }

.main_container_countries_teams div {
    padding:2% 2% 0 2%;
  }

.container_team_A, 
.container_team_B {
    display: flex;
    flex-direction: column;
      width:50%;

}

#playerA, 
#playerB {
  display: flex;
  margin-top: 2%;
  width: 420px;
  justify-content: right;
}

 #countryA, 
 #countryB {
  width: 150px;
 }

 .main_container_penalty {
 margin: 0 auto 3%;
 align-items: baseline;
 background-color: #000000c9;
 padding: 1% 0% 3%;
 width: 70%;
 }

 #round {
  color: white;
  padding-bottom: 2%;
 }

 .main_container_player,
.container_playerA, 
.container_playerB {
  display: flex;
  justify-content: center;
  padding: 1%;
 }

 .right,
.left {
  height: 70px;
  width: 35px;
  margin: 0 0 0 -2px;
}

.right {
  border-radius: 0 5rem 5rem 0;
  margin: 5px -1px 5px 5px;
}

.left { 
  border-radius: 0 5rem 5rem 0;
  margin: 5px 5px 5px -1px;

}

#setClubA, 
#setClubB {
  margin-top: 20%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  color:red;
}

#flagA, 
#flagB {
  width: 150px;
  height: auto;
  vertical-align: baseline;
}

#scoreA, 
#scoreB {
 padding: 2% 3%;
 margin-left: 2%;
 background-color: white;
 align-content: center;
 font-size: 45px;
}

#winner {
  font-weight: bold;
  font-size: x-large;
  color: red;
  padding: 2%;
}

#btn_restart {
padding: 1%;
width: 25px;

}


@media (max-width: 1000px) {

  h2 {
    font-size: 20px;
  }


  input {
    width: 100px;
  }

  .right, 
  .left {
    height: 50px;
    width: 25px;
  }

  #flagA, 
  #flagB {
    width: 100px;
  }

  #playerA, 
  #playerB {
  width: 320px;
}
}

@media (max-width: 700px) {

 .container_countries_teams_startingteam,
 .main_container_countries_teams, 
 .main_container_penalty {
   width: 90%;
  }

 #winner {
  font-size: large;
  }
}

@media (max-width: 550px) {

  h2 {
    font-size: 15px;
  }

  .right, 
  .left {
    height: 30px;
    width: 15px;
  }

  #flagA, 
  #flagB {
    width: 50px;
  }

#playerA, 
#playerB {
  width: 220px;
}

  #setClubA, 
  #setClubB {
    font-size: medium;
  }

  @media (max-width: 400px) {

 #countryA, 
 #countryB {
  width: 120px;
 }

 .main_container_player {
  max-width: 200px;  
  margin: 0 auto;
 }
  }

 }